<Config>
  <Game>
    <Vibration value="true" />
    <InvertHorizontal value="false" />
    <InvertVertical value="false" />
    <MotionBlur value="true" />
    <FOV value="65.5" />
    <MouseSensitivity value="0.5" />
    <GamepadSensitivity value="0.5" />
    <ViewBob value="true" />
    <RotateMinimap value="false" />
    <LastCharacter value="0" />
    <LastDifficulty value="1" />
    <ShowTips value="true" />
    <AutoHideHUD value="false" />
    <HUDScale value="1" />
    <SprintFOV value="true" />
    <SmoothMouse value="false" />
    <HighlightEnemies value="true" />
    <DailyChallenge value="0" />
    <AutoAim value="true" />
  </Game>
  <Sound>
    <Sound value="0.8" />
    <Music value="0.5" />
  </Sound>
</Config>