html,
body {
  height: 100%;
  margin: 0px;
}
@font-face
{font-family:"Century Gothic";
src: url('lang/font/Century Gothic.ttf');}

@font-face
{font-family:"M+ 1p medium";
src: url('lang/font/mplus-1p-medium.ttf');}

@font-face
{font-family:"DFGGothicP-W5-SteelFish";
src: url('lang/font/DFGGothicP-BioshockInfinite_Steelfish.ttf');}

html,
body,
div,
h1,
p,
span {
  margin: 0;
  padding: 0;
}

body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  color: rgb(45, 45, 45);
}

.container 
{
  display: block;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  width: calc(100% - 16px * 2);
  height: calc(100% - 16px * 2);
}


.content
{
    margin:0 20px;
    height:95%;
    border: solid 2px rgb(180, 180, 180);
    border-radius: 32px;
    overflow:scroll;
}

.content h1
{
   text-align:center;
}

.content::-webkit-scrollbar 
{
    display: none;
}

.content iframe::-webkit-scrollbar 
{
    display: none;
}

.legalterms
{
   margin-right:20px;
   margin-top:20px;
}

.confirm
{
    display: flex;
    margin-right: 20px;
    float: right;
    margin-top: 10px;
}

.confirmbutton
{
    margin-top:-0.5px;
}
.confirm span
{ 
  margin-left:5px;
  margin-top:3px;
}

.spansteelfish
{
    font-family:"DFGGothicP-W5-SteelFish",sans-serif;

}
.spanm1p
{
    font-family:"M+ 1p medium",sans-serif;
}
.spancentury
{
    font-family:"Century Gothic",sans-serif;
}